/* centers code vertically */ 
.center2 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 70%;
}

/* makes code chunk text smaller */ 
.remark-code {
  font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace;
  font-size: 60%;
 }