/* centers code vertically */ 
.center2 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 70%;
}

/* makes code chunk text smaller */ 
.remark-code {
  font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace;
  font-size: 60%;
 }
 
 /* code wrapping -- see https://github.com/yihui/xaringan/wiki/Word-wrapping-of-code-output */ 
 pre {
  white-space: pre-wrap;
}

/* resize embedded tweet -- see https://wordpress.com/forums/topic/css-code-to-resize-embedded-tweets/ */ 
.embed-twitter {
    width: 75% !important;
}